@font-face {
    font-family: 'BebasNeue';
    src: url('/font/BEBASNEUE/BebasNeue.otf') format('opentype');
}
@font-face {
    font-family: 'ZesStype_BLACK';
    src: url('/font/ZESSTYPE/1st_black_00.ttf') format('truetype');
}
html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.gnb-footer {
    padding: 6px;
    font-size: 10px;
    color: black;
    background: #ACC6D8;
    font-style: italic;
}