<% include ../_COMMON/header %>

<!--<video  preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">-->
    <!--<source src="https://snappy.global/main_movie.mp4" type="video/mp4">-->
    <!--<source src="movie.webm" type="video/webm">-->
    <!--Sorry, your browser does not support HTML5 video.-->
<!--</video>-->
<video id="gnb-main-video"
       autoplay=""
       loop=""
       poster="https://snappy.global/main_movie.jpg">
    <source src="https://snappy.global/main_movie.mp4" type="video/mp4">
</video>

<section class="gnb-main-section">
    <div class="container">
        <div>GNB</div>
    </div>
</section>

<% include ../_COMMON/footer %>