<% include ../_COMMON/header %>

<section class="gnb-main-section">
    <div class="gnb-main-container container ">
        <div class="gnb-main-title-container">
            <div class="gnb-main-title">
                <div class="title">쥐앤비</div>
                <div class="gnb-main-btn-container">
                    <div>
                        <a class="gnb-main-btn gnb-main-btn-request">
                            GNB에 가입하고 싶으세요?
                        </a>
                    </div>
                    <div style="margin-top: 15px;">
                        <a class="gnb-main-btn gnb-main-btn-auth">
                            GNB 이미 회원이세요?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../_COMMON/footer %>