/* main section */
.gnb-main-section {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.gnb-main-section .gnb-main-title-container {
    display: table;
    width: 100%;
    height: 100%;
}
.gnb-main-section .gnb-main-title-container .gnb-main-title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-family:'BebasNeue' !important;
    font-style: italic;
    font-size: 7.5em;
    font-weight: bold;
}

/* main video bg */
.gnb-main-video-section {
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#gnb-main-video {
    -webkit-transform: 50%;
    -moz-transform: 50%;
    -ms-transform: 50%;
    -o-transform: 50%;
    transform: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    margin-left: -720px;
    width: 1440px;

}
@media only screen and (max-width: 1023px) {
    #gnb-main-video {
        width: 1160px;
        margin-left: -580px;
    }
}